<div class="columns_header">
  <h1>Allmänna Villkor</h1>
</div>
<div id="right_column_flip" class="right_column_flip">
  <div>
    <ul>
      <li>
        <%= link_to "Inledning", '#introduction' %>
      </li>
      <li>
        <%= link_to "Parter", "#usage" %>
      </li>
      <li>
        <%= link_to "Avtalet", "#accounts" %>
      </li>
      <li>
        <%= link_to "Tjänsten ", "#termination" %>
      </li>
            <li>
        <%= link_to "Mjukvarutjänst ", "#termination" %>
      </li>
            <li>
        <%= link_to "Användning av Tjänsten ", "#termination" %>
      </li>
            <li>
        <%= link_to "Övriga tjänster ", "#termination" %>
      </li>
            <li>
        <%= link_to "Funktioner som innefattas i tjänsten ", "#termination" %>
      </li>
      <li>
        <%= link_to "Kundens ansvar ", "#attribution" %>
      </li>
      <li>
        <%= link_to "Säkerhetskopiering av data ", "#payment" %>
      </li>
         <li>
        <%= link_to "Teknisk standard", "#attribution" %>
      </li>
         <li>
        <%= link_to "Säkerhet av konto", "#attribution" %>
      </li>
         <li>
        <%= link_to "Digital Openers ansvar och ansvarsbegränsning ", "#attribution" %>
      </li>
         <li>
        <%= link_to "Force majeure  ", "#attribution" %>
      </li>
         <li>
        <%= link_to "Priser, debitering och betalningsvillkor  ", "#attribution" %>
      </li>
         <li>
        <%= link_to "Priser och kostnader ", "#attribution" %>
      </li>
        <li>
        <%= link_to "Betalningsvillkor", "#attribution" %>
      </li>
        <li>
        <%= link_to "Debiteringsperiod ", "#attribution" %>
      </li>
        <li>
        <%= link_to "Ändring av priser  ", "#attribution" %>
      </li>
        <li>
        <%= link_to "Uppsägning pga av ändring av prismodell eller priser", "#attribution" %>
      </li>
        <li>
        <%= link_to "Uppsägning ", "#attribution" %>
      </li>
        <li>
        <%= link_to "Kundens uppsägning  ", "#attribution" %>
      </li>
        <li>
        <%= link_to "Skriftlig uppsägning ", "#attribution" %>
      </li>
        <li>
        <%= link_to "Förtida uppsägning ", "#attribution" %>
      </li>
        <li>
        <%= link_to "Tillämplig lag och tvistelösning  ", "#attribution" %>
      </li>
    
    </ul>
  </div>
</div>
<div id="left_column_flip" class="left_column_flip">
  <%= render partial: 'legal' %>
</div>
